<h3>Sign In</h3>

<form action="/admin" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" />

  <input type="submit" value="Login" class="btn" />
</form>

<!-- <h3>Register</h3>
<form action="/register" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" />

  <input type="submit" value="Register" class="btn" />
</form> -->

<style>
  .footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 40px 0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
