<div class="searchBar">
  <div class="container">
    <form action="/search" class="search__form" role="search" method="Post">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search here for a blog..."
      />
    </form>
  </div>
</div>
