<h2>This is about page</h2>
<p>
  Hello!! "This is Khushi a sophomere of electrical engineering in NIT
  jalandhar. My interest revolves around exploring & scrutinizing new things. I
  love desigining in photoshop and engrossed in web development.
</p>
