<div class="author">
  <h1 class="author__heading">Welcome to the Node.js Blog</h1>
  <p class="author__bio">
    Discover the power of Node.js and learn how to build scalable web
    applications. Join me, Segun, a third-year computer science student, as I
    share my passion for Node.js and provide valuable insights, tutorials, and
    best practices. Whether you're a beginner or an experienced developer, this
    blog is your go-to resource for mastering Node.js and taking your web
    development skills to the next level.
  </p>
</div>

<img
  src="/img/hero-image.jpg"
  alt=""
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
